fastapi
uvicorn[standard]
langchain
langchain-classic
langchain-text-splitters
langchain-huggingface
langchain_chroma
langchain-core
langchain-google-genai>=0.1.0
sentence-transformers
openai
redis
aioredis
chromadb
python-dotenv
pydantic
httpx
websockets