fastapi
uvicorn[standard]
langchain
langchain-community
langchain-classic
langchain-text-splitters
langchain-huggingface
langchain_chroma
langchain-core
langchain-google-genai
langchain-openai
langgraph
langsmith
sentence-transformers
openai
redis
langchain-redis
aioredis
chromadb
python-dotenv
pydantic
pydantic[email]
httpx
websockets
tavily-python
argon2-cffi
python-jose[cryptography]
google-cloud-firestore